*{
    margin: 0;
    box-sizing: border-box;
}

#body-wrapper{
    background-color: antiquewhite;
    width: 80vw; /* Will limit width from the right; starting from left, limit 80% of hardware view width */
    margin: auto;
    font-family: "Sora", sans-serif;
}

header, footer{
    background-color: #f5dddd;
}

header h1, header p {
    text-align: left;
    padding: 1vh 2vw;
    font-size: calc(2px + 1vw + 0.75vh);
    color: #3a4454;
}

footer p{
    text-align: center;
    padding: 1vh 0;
    font-size: calc(2px + 0.75vw + 0.5vh);
}

#navmain-wrapper{
    display: flex;
    flex-direction: row; /* using flexbox -> go to parent of everything, and make them be on one row */
    /* Could do width:30%, display:inline in both <nav> and <main> to make nav and main be in one line, with different widths */
}

nav{
    width: 30%;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li{
    border: 3px #3a4454 solid;
    text-align: center;
    margin: 5vh auto;
    padding: 1.5vh 0;
    width: 80%; /* 80% of ul */
    text-decoration: none;
}

nav a{
    font-size: calc(2px + 1vw + 0.75vh);
    color: #3a4454;
    text-decoration: none;
}

main{
    height: calc(60vh + 30vw); /* Makes <main> tag have 100% hardware view height -> If there's too much content, will not be enough */
    width: 70%;
}

#main-wrapper ul {
    padding-left: 0;
    text-align: left;
}

#main-wrapper .center-list {
    text-align: center;
    list-style: none;
}

#main-wrapper h6, #main-wrapper ul, #main-wrapper .newline {
    margin-bottom: calc(3vh + 1vw);
}

#intro {
    font-size: calc(2px + 0.75vw + 0.5vh);
    padding: 1vh 0;
    color: #3a4454;
    text-align: center;
}

#main-wrapper {
    font-size: calc(2px + 0.9vw + 0.6vh);
    padding: 2vh 0;
    color: #3a4454;
    display: flex;
    flex-direction: column;
    margin: 0 3%;
    text-align: center;
}

main img{
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: 1.5vh auto;
}

#calc-wrapper {
    padding: 2vh 0;
    color: #3a4454;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#calc-wrapper label, #calc-wrapper input {
    font-size: calc(2px + 0.9vw + 0.6vh);
    margin: 0 1%;
    width: 20%;
    text-align: center;
    max-height: calc(2vw + 0.5vh);
}

#button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#button-wrapper button {
    margin: 2vh 1%;
    padding: 1vh 2%;
    font-size: calc(2px + 0.75vw + 0.5vh);
    background-color: #3a4454;
    color: white;
    border: none;
    width: 15%;
}

#output {
    font-size: calc(2px + 0.9vw + 0.6vh);
    text-align: center;
}

.neg-output {
    color: darkred;
}

.pos-output {
    color: #3a4454;
}

@media screen and (max-width: 1024px) {
    #navmain-wrapper{
        flex-direction: column;
    }
    nav, main{
        width: 100%;
    }
    nav ul{
        flex-direction: row;
    }
    nav li{
        border: 1px #3a4454 solid;
        margin: 1vh 0.5%;
        padding: calc(0.5vh + 0.5vw) 0;
        width: 13%;
    }
    nav a{
        font-size: calc(2px + 1vw);
    }
    header h1, header p{
        text-align: center;
    }
    #main-wrapper h6, #main-wrapper ul, #main-wrapper .newline{
        margin-bottom: calc(0.5vh + 2.5vw);
    }
}